{% assign sorted_editions = site.editions
  | sort: "year"
  | reverse
  | where_exp: "item", "item.layout == 'edition'"
%}


<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-4">
      <a href="/" class="brand-logo" style="padding-left: 20px">
        <h3 class="northumbria" style="margin-top: 20px">Mediaeval</h3>
      </a>
      <!-- Small screen definition -->
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <!-- Big screen Structure -->
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        {% for edition in sorted_editions limit:1 %}
          <li><a href="{{ edition.url | relative_url }}">{{ edition.title }}</a></li>
        {% endfor %}
        {% for page in site.pages %}
          {% unless page.title == null or page.hide or name_page contains page.title %}
            {% if page.has_children %}
              <li><a class="dropdown-trigger" data-target="editions">
                {{ page.title }}<i class="material-icons right">arrow_drop_down</i>
              </a></li>
            {% else %}
              <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>

<!-- Big screen dropdown Structure -->
<ul class="dropdown-content" id="editions">
  {% for edition in sorted_editions offset:1 %}
    <li><a href="{{ edition.url | relative_url }}">{{ edition.title }}</a></li>
  {% endfor %}
  <li><a href="http://www.multimediaeval.org/">pre-2020</a></li>
</ul>

<!-- Mobile Structure -->
<ul class="sidenav" id="mobile-nav">
  <li><a href="/">Home</a></li>
  {% for page in site.pages %}
    {% unless page.title == null or page.hide or name_page contains page.title %}
      {% if page.has_children %}
        <li><a class="dropdown-trigger" data-target="mobile-editions">
          {{ page.title }}<i class="material-icons right">arrow_drop_down</i>
        </a></li>
      {% else %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>

<!-- Mobile dropdown Structure -->
<ul class="dropdown-content" id="mobile-editions">
  {% for artifact in sorted_editions %}
    <li><a href="{{ artifact.url | relative_url }}">{{ artifact.title }}</a></li>
  {% endfor %}
</ul>
