{% for page in site.pages %}
    {% unless page.title == null or page.hide or name_page contains page.title %}
    <li>
        <a class="nav-link"
        {% if page.children %}
        href="{{ page.url | relative_url }}"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        {% else %}
        href="{{ page.url | relative_url }}"
        {% endif %}
        >
            {{ page.title }}
        </a>
        {% if page.children %}
        <div class="dropdown-menu"
            aria-labelledby="navbarDropdown">
            {% for subchild in page.children %}
                <a class="dropdown-item"
                href="{{ subchild.attr.redirect_url|default:subchild.get_absolute_url }}">
                    {{ subchild.get_menu_title }}
                </a>
            {% endfor %}
        </div>
        {% endif %}
    </li>
    {% endunless %}
{% endfor %}
