{% assign page_start = 1 %}
{% assign page_end = paginator.total_pages %}

{% if paginator.total_pages > 1 %}
<ul class="pagination">
    {% if paginator.page == 1 %}
        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="waves-effect"><a href="{{ paginator.previous_page_path | relative_url }}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for index in (page_start..page_end) %}
        {% if index == 1 %}
            {% if paginator.page == 1 %}
                <li class="active"><a href="/">{{ index }}</a></li>
            {% else %}
                <li class="waves-effect"><a href="/">{{ index }}</a></li>
            {% endif %}
        {% elsif index == paginator.page %}
            <li class="active"><a href="{{ site.paginate_path | replace: ':num', index | relative_url }}">{{ index }}</a></li>
        {% else %}
            <li class="waves-effect"><a href="{{ site.paginate_path | replace: ':num', index | relative_url }}">{{ index }}</a></li>
        {% endif %}
    {% endfor %}

    {% if paginator.page == paginator.total_pages %}
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="waves-effect"><a href="{{ paginator.next_page_path | relative_url }}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>
{% endif %}
