.jumbotron{
  background: url("/assets/img/Jumbotron.png");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  filter: brightness(100%);
}

@font-face {
  font-family: "Northumbria";
  src: url("/assets/fonts/DKNorthumbria/Dknorthumbria-vyBA.otf") format("truetype");
}

.northumbria {
  font-family: "Northumbria", Verdana;
}

.jumbotron .content{
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
@media screen and (max-width: 310px){
  .jumbotron{
    min-height: 250px;
  }
}

/* --- Feature image --- */
.feature-image {
    padding: 0;
    .post-link {
        color: $feature-image-text-color;
    }
    header {
        color: $feature-image-text-color;
        margin-bottom: 0;
        padding: $padding-large/2.5 $padding-large;
        .meta {
            color: rgba($feature-image-text-color, .7);
        }
    }
    .post-content {
        @extend %padding-regular;
        padding-bottom: 0;
    }
    footer {
        @extend %padding-regular;
        padding-top: 0;
    }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
    @media screen and (max-width: $break) {
        padding: $padding-small $padding-small;
    }

    @media screen and (min-width: $break) {
        background-size: 120% auto;
    }

    @media screen and (max-width: $break) {
        background-size: 200% auto;
    }

    @media screen and (max-width: $sm-break) {
        background-size: 400% auto;
    }
}

a:link {
  color: #289E07;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #35BC0F;
  background-color: transparent;
  text-decoration: none;
}