
<div id="footer" style='font-size: .9em'>
    <div class='container'>

        <div class="row text-center" style='margin-top: 3em; font-family: monospace'>
            <div class="col-md-12">
                <a href='https://twitter.com/multimediaeval' class='btn-outline-primary'>twitter.com/multimediaeval</a>
                | <a href='https://github.com/multimediaeval' class=''>github.com/multimediaeval</a>
                | <a href='https://www.flickr.com/photos/69524595@N06/' class=''>flickr.com/multimediaeval</a>
                | <a href='https://www.youtube.com/channel/UCc-1NW1Uo2o_zI4F81iyTcw' class=''>youtube.com/multimediaeval</a>
            </div>
        </div>


        <div class='row' style='margin-top: 3em;'>
            <div class='col-md-12'>
                Previous editions:
                <a href='http://www.multimediaeval.org/'>www.multimediaeval.org</a>
                <!-- <a href='https://www.europython-society.org/europython'>more...</a> -->
            </div>
        </div>

        <footer>
            <p>&copy; 2020 MediaEval Multimedia Benchmark</p>
            <p>For more information contact Martha Larson m.a.larson (at) tudelft.nl.</p>
        </footer>
    </div>
</div>
