
<footer class='page-footer green darken-4'>
  <div class='container'>

    <div class='row'>
      <div class="col l6 s12">
        <h5 class="white-text">Can't find what you are looking for?</h5>
        <p>Previous editions: <a href="http://www.multimediaeval.org/">www.multimediaeval.org</a></p>

        <p>For more information contact Martha Larson m.a.larson (at) tudelft.nl.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <li><a href='https://twitter.com/multimediaeval' class='btn-outline-primary'>twitter.com/multimediaeval</a></li>
        <li><a href='https://github.com/multimediaeval' class=''>github.com/multimediaeval</a></li>
        <li><a href='https://www.flickr.com/photos/69524595@N06/' class=''>flickr.com/multimediaeval</a></li>
        <li><a href='https://www.youtube.com/channel/UCc-1NW1Uo2o_zI4F81iyTcw' class=''>youtube.com/multimediaeval</a></li>
      </div>
    </div>

  </div>
    <div class="footer-copyright">
      <div class="container grey-text text-lighten-4">
      &copy; 2020 MediaEval Multimedia Benchmark
    </div>
  </div>
</footer>
