<!DOCTYPE html>

<html lang="en">
  {% include head.html %}
  <body>

    {% include bs/header/_regular.html %}
    {% include bs/content/_messages.html %}
    <div class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include bs/footer/footer.html %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ '/assets/js/materialize.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/main.js' }}"></script>
  </body>

</html>
