---
layout: default
---

  <header id="main" style="background-image: url('{{ page.feature-img | relative_url }}')">
    <h2>{{ page.title }}</h2>
  </header>

  {{ content }}
  {% assign sorted_tasks = site.editions
    | sort: "title"
    | reverse
    | where_exp: "item", "item.layout == 'task'"
    | where_exp: "item", "item.year == page.year"
    | where_exp: "item", "item.hide == false"
  %}
  {% assign psize = sorted_tasks | size %}

  {% if psize > 0 %}
  <h3>
    Task List
  </h3>

  {% assign tasks_folder = site.pages | where_exp: "item" , "item.path contains 'tasks'" %}
  <ul class="right hide-on-med-and-down"></ul>
  {% for task in sorted_tasks %}
    <a href="{{ task.url | relative_url }}"><h4>{{ task.title }}</h4></a>
    <p>{{ task.blurb|truncatewords:"200" }}</p>
    <a href="{{ task.url | relative_url }}">Read more.</a>
    <br>
  {% endfor %}
</ul>
{% endif %}
