---
layout: default
---


{% if site.theme_settings.header_text %}
    <h1 class='center'> {{ site.theme_settings.header_text }} </h1>
{% endif %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>

    <h2 class="subtitle" align="center">Our recent posts: </h2>

    <hr />
    <section class="post-content" align="left">
    {% if page.bootstrap %}
        <div class="bootstrap-iso">
    {% endif %}
    {% include blog.html %}
    {% if page.bootstrap %}
        </div>
    {% endif %}
    </section>

</article>
